.row
  .col-lg-12
    %h1.page-header 
      Control de Granos de #{current_company.name}

    %ul.nav.nav-tabs
      %li
        =link_to  "Resumen", summary_crop_controls_path
      %li.active
        =link_to  "Editar", list_crop_controls_path, :class=> "active"

.row
  %br
  .col-lg-12
    .panel.panel-default
      .panel-heading  
        #filters
      .panel-body  
        #crop_controls


#comments
  

= app_js_load :company=> @company
= app_js_load :company_comments=> @company_comments
= app_js_load :crop_control=> true
= app_js_load :crop_controls=> @crop_controls
= app_js_load :stores=> @stores
= app_js_load :crops=> @crops
