.dark.data-block
  %header
    %h2(style="float: left;")
      Depositos de #{@company.name}

  %section
    %table.table.table-bordered
      %tr
        %th Nombre
        %th

      - @stores.each do |store|
        %tr
          %td= store.name
          %td(style ="text-align:center;font-size:1.5em")
            = link_to edit_store_path(store) do              
              %i.icon-edit
            = link_to store, method: :delete, data: { confirm: 'Are you sure?' } do              
              %i.icon-remove

    = link_to 'Nuevo Deposito', new_store_path
