.row
  .col-lg-12
    %h1.page-header Depositos de #{current_company.name}

    
.row
  .col-lg-12

    %table.table.table-bordered
      %tr
        %th Nombre
        %th
        %th

      - @stores.each do |store|
        %tr
          %td= store.name
          %td
            = link_to edit_store_path(store) do              
              %i.fa-2x.fa.fa-pencil
          %td
            = link_to store, method: :delete, data: { confirm: 'Are you sure?' } do              
              %i.fa-2x.fa.fa-remove

    = link_to 'Nuevo Deposito', new_store_path, :class => 'btn btn-primary'
