.row
  .col-lg-12
    %h1.page-header Empresas

    
.row
  .col-lg-12
    %table.table.table-bordered
      %tr
        %th Nombre
        %th Propietario
        %th Auditores
        %th Usuarios
        %th Depositos
        %th
        %th


      - @companies.each do |company|
        %tr
          %td= company.name
          %td= company.owner.email
          %td= company.auditors.pluck('email').join("<br/>").html_safe
          %td= company.users.pluck('email').join("<br/>").html_safe
          %td= company.stores.pluck('name').join("<br/>").html_safe
          %td
            = link_to edit_admin_company_path(company) do              
              %i.fa-2x.fa.fa-pencil
          %td
            = link_to admin_company_path(company), method: :delete, data: { confirm: 'Are you sure?' } do              
              %i.fa-2x.fa.fa-remove

    = link_to 'Nueva Empresa', new_admin_company_path

