.row
  .col-lg-12
    %h1.page-header Archivos de Backups

    
.row
  .col-lg-6
    .panel.panel-primary
      .panel-heading
        Subir Backup
      .panel-body
        = form_for @backup do |f|
          .fileinput.fileinput-new.input-group{"data-provides" => "fileinput"}
            .form-control{"data-trigger" => "fileinput"}
              %i.glyphicon.glyphicon-file.fileinput-exists
              %span.fileinput-filename          
            %span.input-group-addon.btn.btn-default.btn-file
              %span.fileinput-new Elegir Archivo
              %span.fileinput-exists Cambiar
              = f.file_field :zip
            %a.input-group-addon.btn.btn-default.fileinput-exists{"data-dismiss" => "fileinput", :href => "#"} Quitar
            %a.input-group-addon.btn.btn-default.btn-primary.fileinput-exists{"data-submit" => "fileinput", :href => "#"} Subir
          = f.submit "Subir", :hidden => true
  .col-lg-6
    %blockquote.no-margin
      %p
        Elije un archivo de tu PC para subir al sitio. 
        %br
        Será accesible por ti y por un adminstrador solamente.
        %br
        Los únicos formatos válidos son ZIP y RAR.
    
    



.row            
  .col-lg-12
    -if @backups.size == 0
      %blockquote.no-margin
        %p
          Aún no has subido ningún archivo.
    -else
      %table.table.table-bordered
        %tr
          %th Fecha
          %th Empresa
          %th Usuario
          %th Archivo
          %th
          %th

        - @backups.each do |backup|
          %tr
            %td= l backup.created_at, format: :short 
            %td= backup.company.name if backup.company
            %td= backup.creator.email
            %td= backup[:zip]
            %td
              = link_to backup do
                %i.fa-2x.fa.fa-download
            %td
              = link_to backup, method: :delete, data: { confirm: 'Estas seguro?' } do              
                %i.fa-2x.fa.fa-remove

= app_js_load :backups => true
