.row
  .col-lg-12
    %h1.page-header Backups de G3
    
.row
  .col-lg-6
    .panel.panel-primary
      .panel-heading
        Subir Backup
      .panel-body
        = form_for @backup do |f|
          .fileupload.fileupload-new{"data-provides" => "fileupload"}
            .input-append
              .uneditable-input.span4
                %i.icon-file.fileupload-exists
                %span.fileupload-preview
              %span.btn.btn-default.btn-file
                %span.fileupload-new Elegir Archivo
                %span.fileupload-exists Cambiar
                = f.file_field :zip
              = f.submit "Subir", :class => 'btn btn-primary'
  .col-lg-6
    %blockquote.no-margin
      %p
        Elije un archivo de tu PC para subir al sitio. 
        %br
        Será accesible por ti y por un adminstrador solamente.
        %br
        Los únicos formatos válidos son ZIP y RAR.
    
    



.row            
  .col-lg-12
    -if @backups.size == 0
      %blockquote.no-margin
        %p
          Aún no has subido ningún archivo.
    -else
      %table.table.table-bordered
        %tr
          %th Fecha
          %th Empresa
          %th Usuario
          %th Archivo
          %th
          %th

        - @backups.each do |backup|
          %tr
            %td= l backup.created_at, format: :short 
            %td= backup.company.name if backup.company
            %td= backup.creator.email
            %td= backup[:zip]
            %td(style ="text-align:center;font-size:1.5em")
              = link_to backup do
                %i.fa.fa-download
            %td(style ="text-align:center;font-size:1.5em")
              = link_to backup, method: :delete, data: { confirm: 'Estas seguro?' } do              
                %i.fa.fa-remove
