%h1 Listing backups

%table.table.table-striped.table-bordered
  %tr
    %th Owner
    %th Name
    %th Uploaded
    %th Type
    %th
    %th
    %th

  - @backups.each do |backup|
    %tr
      %td= #backup.creator.email if backup.creator
      %td= backup.zip #.name
      %td= backup.created_at
      %td= link_to 'Show', backup
      %td= link_to 'Edit', edit_backup_path(backup)
      %td= link_to 'Destroy', backup, method: :delete, data: { confirm: 'Are you sure?' }



%br

= link_to 'New Backup', new_backup_path
