.row
  .col-lg-12
    %h1.page-header Editando #{@user.email}

    
.row
  .col-lg-12

    = form_for  [:admin, @user] , :html=>{:class =>'form-horizontal'} do |f|
      - if @user.errors.any?
        #error_explanation
          %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
          %ul
            - @user.errors.full_messages.each do |msg|
              %li= msg

      = f.label :email, :class =>'control-label'
      = f.text_field :email, :class =>'form-control'
      = f.label :role_ids, 'Permisos',  :class =>'control-label'
      = f.select :role_ids, options_for_select(Role.all.map{|r| [r.pretty_name, r.id]}, @user[:role_ids]),{}, :multiple => true, :class =>'form-control'
      %br
      %br
      = f.submit "Guardar", :class => 'btn btn-primary btn-large'
      = link_to 'Volver', admin_users_path, :class => 'btn btn-default btn-large'
