.navbar-default.sidebar{:role => "navigation"}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav

      %li.active-
        %a{:href => root_path}
          %i.fa.fa-home.fa-fw
          Panel de Control
      -if can? :manage, Backup
        %li
          %a{:href => backups_path}
            %i.fa.fa-file-archive-o.fa-fw
            Archivos de Backups
      -if can? :manage, CropControl
        %li
          %a{:href => "#"}
            %i.fa.fa-bar-chart.fa-fw
            Control de Granos
            %span.fa.arrow
          %ul.nav.nav-second-level
            %li
              = link_to "Depositos", companies_stores_path
            %li
              = link_to "Gastos de Comercializacion", companies_marketing_costs_path
            %li
              = link_to "Movimientos", list_crop_controls_path
            %li
              = link_to "Resumen", summary_crop_controls_path

      -if  can? :manage, Crop or can? :manage, Company    or can? :manage, Store or can? :manage, User
        %li
          %a{:href => "#"}
            %i.fa.fa-gears.fa-fw
            Admin
            %span.fa.arrow
          %ul.nav.nav-second-level
            -if can? :manage, Company
              %li
                = link_to admin_companies_path do
                  Empresas
            -if can? :manage, User
              %li
                = link_to admin_users_path do
                  Usuarios
            -if can? :manage, Role
              %li
                = link_to admin_roles_path do
                  Roles
            -if can? :manage, Crop
              %li
                = link_to admin_crops_path do
                  Granos
              %li
                = link_to prices_admin_crops_path do
                  Precios Brutos de Granos
