/ User profile        
.user-profile
  - if user_signed_in?
    %figure
      / User profile avatar
      %img{:alt => "John Pixel avatar", :src => "http://placekitten.com/60/60"}/
      / User profile info
      %figcaption
        %strong
          = link_to(current_user.email, edit_user_registration_path)
        %ul
          - if can? :access, :rails_admin
            %li= link_to "Admin", "/admin", :title => "Administracion General"
          %li
            = link_to('Salir', destroy_user_session_path, :method=>'delete')
  - else

    %figure
      / User profile info
      %figcaption
        %strong
          %a{:href => "#"} John Pixel
        %ul
          %li
            = link_to('Ingresar', new_user_session_path)
          %li
            = link_to('Registrarse', new_user_registration_path)