!!! 5
%html{:lang=>"en", "ng-app" => "app"}
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title= content_for?(:title) ? yield(:title) : "Marino"
    = csrf_meta_tags

    = stylesheet_link_tag "application", :media => "all"
    %link(href="/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144")
    %link(href="/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114")
    %link(href="/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72")
    %link(href="/apple-touch-icon.png" rel="apple-touch-icon-precomposed")
    %link(href="/favicon.ico" rel="shortcut icon")

  %body.ng-cloak
    #wrapper
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        = render 'layouts/header'
        = render 'layouts/sidebar'

      #page-wrapper
        = yield

    #bootstrap_alerts
      = bootstrap_flash

    = javascript_include_tag "application"
